// colors
$yellow: #FFE600;
$dark-gray: #333333;
$gray: #999999;
$light-gray: #EEEEEE;
$white: #FFFFFF;
$blue: #3483FA;

// border
$radius: 4px;

// spaces
$primarySpace: 16px;
$secundarySpace: 32px;

// media
$mediaMaxWith: 768px;
